In [1]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from sklearn) (0.23.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (1.18.5)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (0.15.1)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (1.4.1)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# import csv to df
salary_df1 = pd.read_csv("../exported_data/salary_data1.csv")
salary_df1.head()

,Unnamed: 0,id,salaryusd,country,primarydatabase,yearswiththisdatabase,employmentstatus,jobtitle,managestaff,yearswiththistypeofjob,otherpeopleonyourteam,databaseservers,education,educationiscomputerrelated,certifications,hoursworkedperweek,telecommutedaysperweek,employmentsector,region
0,0,0,200000.0,United States,Microsoft SQL Server,10.0,Full time employee,DBA,No,5.0,2,350.0,Masters,No,"Yes, and they're currently valid",45.0,1,Private business,North America
1,1,1,137500.0,United States,Microsoft SQL Server,16.0,Full time employee of a consulting/contracting...,DBA,No,6.0,4,200.0,None (no degree completed),NaN,"Yes, and they're currently valid",55.0,5 or more,Private business,North America
2,2,2,85000.0,United States,Microsoft SQL Server,8.0,Full time employee,DBA,No,2.0,None,15.0,Bachelors (4 years),Yes,"No, I never have",50.0,"None, or less than 1 day per week",Private business,North America
3,3,3,96000.0,United States,Microsoft SQL Server,5.0,Full time employee,DBA,No,5.0,None,100.0,Masters,No,"No, I never have",45.0,1,Private business,North America
4,4,4,66000.0,United States,Microsoft SQL Server,10.0,Full time employee,"Developer: App code (C#, JS, etc)",No,10.0,None,4.0,Associates (2 years),NaN,"No, I never have",60.0,5 or more,Private business,North America

In [4]:
del salary_df1["Unnamed: 0"]
salary_df1

,id,salaryusd,country,primarydatabase,yearswiththisdatabase,employmentstatus,jobtitle,managestaff,yearswiththistypeofjob,otherpeopleonyourteam,databaseservers,education,educationiscomputerrelated,certifications,hoursworkedperweek,telecommutedaysperweek,employmentsector,region
0,0,200000.0,United States,Microsoft SQL Server,10.0,Full time employee,DBA,No,5.0,2,350.0,Masters,No,"Yes, and they're currently valid",45.0,1,Private business,North America
1,1,137500.0,United States,Microsoft SQL Server,16.0,Full time employee of a consulting/contracting...,DBA,No,6.0,4,200.0,None (no degree completed),NaN,"Yes, and they're currently valid",55.0,5 or more,Private business,North America
2,2,85000.0,United States,Microsoft SQL Server,8.0,Full time employee,DBA,No,2.0,None,15.0,Bachelors (4 years),Yes,"No, I never have",50.0,"None, or less than 1 day per week",Private business,North America
3,3,96000.0,United States,Microsoft SQL Server,5.0,Full time employee,DBA,No,5.0,None,100.0,Masters,No,"No, I never have",45.0,1,Private business,North America
4,4,66000.0,United States,Microsoft SQL Server,10.0,Full time employee,"Developer: App code (C#, JS, etc)",No,10.0,None,4.0,Associates (2 years),NaN,"No, I never have",60.0,5 or more,Private business,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6866,6866,7500.0,Ghana,Microsoft SQL Server,4.0,Full time employee,"Developer: App code (C#, JS, etc)",Yes,8.0,2,2.0,Associates (2 years),Yes,"Yes, but they expired",40.0,"None, or less than 1 day per week",Private business,Africa
6867,6867,22350.0,Dominican Republic,Microsoft SQL Server,11.0,Full time employee,DBA (General - splits time evenly between writ...,No,1.0,3,46.0,None (no degree completed),NaN,"No, I never have",44.0,"None, or less than 1 day per week",Private business,North America
6868,6868,17333.0,Uruguay,Microsoft SQL Server,7.0,Full time employee,DBA (Production Focus - build & troubleshoot s...,Yes,7.0,2,20.0,Bachelors (4 years),Yes,"No, I never have",35.0,5 or more,Private business,South America
6869,6869,35100.0,Guatemala,Microsoft SQL Server,1.0,Full time employee of a consulting/contracting...,DBA (Production Focus - build & troubleshoot s...,No,1.0,2,170.0,Bachelors (4 years),Yes,"Yes, and they're currently valid",44.0,"None, or less than 1 day per week",Private business,South America
6870,6870,51000.0,Taiwan,Microsoft SQL Server,13.0,Full time employee,DBA (General - splits time evenly between writ...,No,10.0,More than 5,100.0,Masters,Yes,"Yes, but they expired",40.0,"None, or less than 1 day per week",Private business,Asia

In [5]:
# sets X as every columns except koi_disposition
X = salary_df1.drop("salaryusd", axis=1)
# sets y to koi_disposition
y = salary_df1["salaryusd"].values.reshape(-1, 1)

print(X.shape, y.shape)

(6871, 17) (6871, 1)

In [6]:
X.keys()

Index(['id', 'country', 'primarydatabase', 'yearswiththisdatabase',
       'employmentstatus', 'jobtitle', 'managestaff', 'yearswiththistypeofjob',
       'otherpeopleonyourteam', 'databaseservers', 'education',
       'educationiscomputerrelated', 'certifications', 'hoursworkedperweek',
       'telecommutedaysperweek', 'employmentsector', 'region'],
      dtype='object')

In [7]:
# X_encoded = pd.get_dummies(X, columns=[["country", "primarydatabase", "employmentstatus", "jobtitle", "managestaff", "otherpeopleonyourteam", "education", "educationiscomputerrelated", "certifications", "telecommutedaysperweek", "employmentsector", "region"]])
X_encoded = pd.get_dummies(X)
X_encoded

,id,yearswiththisdatabase,yearswiththistypeofjob,databaseservers,hoursworkedperweek,country_Albania,country_Argentina,country_Australia,country_Austria,country_Bahrain,...,employmentsector_Student,region_Africa,region_Asia,region_Australia,region_Eastern Europe,region_Latin America,region_Middle East,region_North America,region_South America,region_Western Europe
0,0,10.0,5.0,350.0,45.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,16.0,6.0,200.0,55.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,2,8.0,2.0,15.0,50.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,3,5.0,5.0,100.0,45.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,4,10.0,10.0,4.0,60.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6866,6866,4.0,8.0,2.0,40.0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
6867,6867,11.0,1.0,46.0,44.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6868,6868,7.0,7.0,20.0,35.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6869,6869,1.0,1.0,170.0,44.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6870,6870,13.0,10.0,100.0,40.0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [8]:
y = y.astype(int)
y.dtype

dtype('int32')

In [9]:
for col in X_encoded.keys():
    X_encoded[col] = X_encoded[col].astype(int)
X_encoded.dtypes

id                        int32
yearswiththisdatabase     int32
yearswiththistypeofjob    int32
databaseservers           int32
hoursworkedperweek        int32
                          ...
region_Latin America      int32
region_Middle East        int32
region_North America      int32
region_South America      int32
region_Western Europe     int32
Length: 173, dtype: object

In [10]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
# fits random forest model to X_encoded and y
rf = rf.fit(X_encoded, y)
# returns the importance of each column to predicting the outcomes
importances = rf.feature_importances_
importances

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

array([9.32687373e-02, 7.76904236e-02, 7.72737117e-02, 8.48948350e-02,
       6.07259673e-02, 4.21199508e-05, 2.65421820e-04, 1.64401988e-03,
       5.20353542e-04, 3.33695692e-05, 6.71537480e-05, 8.00215763e-04,
       4.14416155e-05, 3.99963686e-05, 4.56128497e-04, 3.23575436e-04,
       2.21611661e-03, 2.77923166e-05, 8.25539645e-05, 1.29453811e-04,
       1.16970199e-04, 2.34558685e-04, 4.17307881e-04, 1.05627954e-03,
       3.44315602e-05, 6.05039287e-05, 8.67287990e-05, 4.48907527e-05,
       5.28230244e-04, 8.12957968e-04, 1.75324534e-03, 4.65302455e-05,
       4.53931057e-04, 3.22196701e-05, 1.93092458e-04, 1.42530746e-04,
       3.52182063e-04, 1.82758502e-04, 8.57691038e-04, 8.95727936e-04,
       5.82533779e-04, 7.40276369e-04, 7.73320933e-05, 2.54242448e-04,
       8.26244376e-05, 6.41825278e-05, 1.15870686e-04, 3.57805517e-04,
       1.95882545e-04, 9.59888367e-05, 1.12983755e-04, 1.51100167e-04,
       3.49943971e-04, 8.94080509e-05, 4.52825562e-05, 1.54532747e-03,
       9.16267719e-04, 7.10048639e-05, 6.44650571e-04, 6.88710758e-05,
       4.96819492e-05, 7.90726628e-05, 1.85300518e-04, 7.36206865e-04,
       5.98433758e-04, 2.10300800e-04, 6.44532416e-04, 7.17713871e-04,
       2.59818300e-04, 2.38962430e-04, 1.03609450e-04, 1.67658637e-04,
       2.91832797e-04, 8.97397493e-04, 8.94446459e-04, 1.63620873e-03,
       9.86063190e-04, 7.24373104e-05, 4.99430407e-05, 7.77156098e-05,
       3.49551670e-04, 1.78401244e-04, 4.18584325e-04, 1.97440074e-04,
       3.48635341e-03, 2.47693749e-03, 3.85560093e-05, 4.76907849e-05,
       4.20365986e-05, 5.11730908e-04, 7.83533916e-04, 9.50041510e-05,
       6.37468484e-04, 1.03197433e-04, 5.86030716e-04, 7.54670293e-03,
       3.20327257e-04, 1.05691182e-03, 4.91771454e-03, 1.23894258e-03,
       1.35412670e-03, 3.85254260e-04, 1.78033574e-04, 4.57910376e-04,
       9.50922319e-03, 7.49748967e-03, 3.41954256e-03, 2.36856258e-03,
       6.73780175e-04, 7.13350478e-03, 6.71839617e-05, 8.40611994e-03,
       4.18520685e-05, 1.79314547e-02, 7.10222353e-03, 1.67195945e-02,
       1.25312048e-02, 5.29927023e-05, 1.14516775e-03, 6.62462411e-05,
       7.15279955e-05, 1.01063458e-02, 9.89449436e-03, 1.28773149e-02,
       7.72613548e-03, 6.72354396e-03, 3.42506516e-03, 7.51853693e-05,
       4.70766060e-05, 5.55696347e-05, 1.03779358e-04, 7.91343735e-05,
       1.15187670e-02, 1.13032215e-02, 2.01762767e-02, 1.55138595e-02,
       1.20403015e-02, 8.82876250e-03, 6.86169448e-03, 1.23715122e-02,
       2.36040402e-02, 1.29010493e-02, 2.21992350e-02, 1.73098083e-03,
       1.58809594e-02, 1.36940833e-02, 2.00916305e-02, 2.21653190e-02,
       2.14471991e-02, 1.84884546e-02, 1.76925279e-02, 1.47172787e-02,
       1.01278313e-02, 5.74078589e-03, 3.84348474e-03, 1.14175167e-02,
       1.76975782e-02, 3.93403556e-03, 4.26971909e-03, 5.52881660e-03,
       4.88191392e-03, 1.27520064e-02, 6.34283599e-03, 4.43450362e-04,
       9.43302908e-04, 1.00079408e-03, 1.79576591e-03, 1.55359385e-03,
       7.04924681e-04, 7.15642786e-04, 2.40464579e-03, 1.75206962e-04,
       2.93416563e-03])

In [11]:
# sorts each column in order of importance
sorted(zip(importances, X.keys()), reverse=True)

[(0.09326873734021877, 'id'),
 (0.0848948349577297, 'yearswiththisdatabase'),
 (0.07769042360587235, 'country'),
 (0.07727371167893606, 'primarydatabase'),
 (0.060725967312298824, 'employmentstatus'),
 (0.002216116612474769, 'region'),
 (0.0016440198757541533, 'yearswiththistypeofjob'),
 (0.0008002157632944574, 'educationiscomputerrelated'),
 (0.0005203535417219566, 'otherpeopleonyourteam'),
 (0.000456128496621524, 'telecommutedaysperweek'),
 (0.00032357543558277476, 'employmentsector'),
 (0.0002654218202200159, 'managestaff'),
 (6.715374803536974e-05, 'education'),
 (4.211995081380621e-05, 'jobtitle'),
 (4.144161553771286e-05, 'certifications'),
 (3.9996368632090817e-05, 'hoursworkedperweek'),
 (3.336956918192217e-05, 'databaseservers')]

In [12]:
# Choose the most importance features- this will be the new "X" (selected_features)
selected_features = salary_df1[['yearswiththisdatabase', 'country', 'primarydatabase', 'employmentstatus', 'region', 'yearswiththistypeofjob', 'educationiscomputerrelated', 'otherpeopleonyourteam', 'telecommutedaysperweek', 'employmentsector', 'managestaff', 'education']]

In [13]:
X_encoded2 = pd.get_dummies(selected_features)
X_encoded2

,yearswiththisdatabase,yearswiththistypeofjob,country_Albania,country_Argentina,country_Australia,country_Austria,country_Bahrain,country_Belarus,country_Belgium,country_Bermuda,...,employmentsector_Private business,employmentsector_State/province government,employmentsector_Student,managestaff_No,managestaff_Yes,education_Associates (2 years),education_Bachelors (4 years),education_Doctorate/PhD,education_Masters,education_None (no degree completed)
0,10.0,5.0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
1,16.0,6.0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
2,8.0,2.0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0
3,5.0,5.0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
4,10.0,10.0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6866,4.0,8.0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,1,0,0,0,0
6867,11.0,1.0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
6868,7.0,7.0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,0,0
6869,1.0,1.0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0
6870,13.0,10.0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0

In [14]:
for col in X_encoded2.keys():
    X_encoded2[col] = X_encoded2[col].astype(int)
X_encoded2.dtypes

yearswiththisdatabase                   int32
yearswiththistypeofjob                  int32
country_Albania                         int32
country_Argentina                       int32
country_Australia                       int32
                                        ...
education_Associates (2 years)          int32
education_Bachelors (4 years)           int32
education_Doctorate/PhD                 int32
education_Masters                       int32
education_None (no degree completed)    int32
Length: 144, dtype: object

In [15]:
# split the data up between training and testing data (3/4:1/4)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_encoded2, y, random_state=42)

In [16]:
# Scales the X data
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

In [17]:
import numpy as np

In [18]:
from tensorflow.keras.utils import to_categorical

In [19]:
# One-hot encoding
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)

In [37]:
# first, create a normal neural network with 2 inputs, 6 hidden nodes, and 2 outputs
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense(units=144, activation='relu', input_dim=144))
model.add(Dense(units=6, activation='softmax'))

In [38]:
# Compile the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [39]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_8 (Dense)              (None, 144)               20880
_________________________________________________________________
dense_9 (Dense)              (None, 6)                 870
=================================================================
Total params: 21,750
Trainable params: 21,750
Non-trainable params: 0
_________________________________________________________________

In [40]:
# Fit the model to the training data
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=144,
    shuffle=True,
    verbose=2
)

Epoch 1/144

ValueError: in user code:

    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\keras\engine\training.py:571 train_function  *
        outputs = self.distribute_strategy.run(
    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:951 run  **
        return self._extended.call_for_each_replica(fn, args=args, kwargs=kwargs)
    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:2290 call_for_each_replica
        return self._call_for_each_replica(fn, args, kwargs)
    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:2649 _call_for_each_replica
        return fn(*args, **kwargs)
    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\keras\engine\training.py:533 train_step  **
        y, y_pred, sample_weight, regularization_losses=self.losses)
    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\keras\engine\compile_utils.py:205 __call__
        loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\keras\losses.py:143 __call__
        losses = self.call(y_true, y_pred)
    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\keras\losses.py:246 call
        return self.fn(y_true, y_pred, **self._fn_kwargs)
    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\keras\losses.py:1527 categorical_crossentropy
        return K.categorical_crossentropy(y_true, y_pred, from_logits=from_logits)
    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\keras\backend.py:4561 categorical_crossentropy
        target.shape.assert_is_compatible_with(output.shape)
    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\framework\tensor_shape.py:1117 assert_is_compatible_with
        raise ValueError("Shapes %s and %s are incompatible" % (self, other))

    ValueError: Shapes (None, 1450001) and (None, 6) are incompatible