In [1]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from sklearn) (0.23.1)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (1.18.5)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (0.15.1)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# import csv to df
salary_df1 = pd.read_csv("../exported_data/salary_data1.csv")
salary_df1.head()

,Unnamed: 0,SalaryUSD,Country,PrimaryDatabase,YearsWithThisDatabase,EmploymentStatus,JobTitle,ManageStaff,YearsWithThisTypeOfJob,OtherPeopleOnYourTeam,DatabaseServers,Education,EducationIsComputerRelated,Certifications,HoursWorkedPerWeek,TelecommuteDaysPerWeek,EmploymentSector,Region
0,0,200000.0,United States,Microsoft SQL Server,10.0,Full time employee,DBA,No,5.0,2,350.0,Masters,No,"Yes, and they're currently valid",45.0,1,Private business,North America
1,1,137500.0,United States,Microsoft SQL Server,16.0,Full time employee of a consulting/contracting...,DBA,No,6.0,4,200.0,None (no degree completed),NaN,"Yes, and they're currently valid",55.0,5 or more,Private business,North America
2,2,85000.0,United States,Microsoft SQL Server,8.0,Full time employee,DBA,No,2.0,None,15.0,Bachelors (4 years),Yes,"No, I never have",50.0,"None, or less than 1 day per week",Private business,North America
3,3,96000.0,United States,Microsoft SQL Server,5.0,Full time employee,DBA,No,5.0,None,100.0,Masters,No,"No, I never have",45.0,1,Private business,North America
4,4,66000.0,United States,Microsoft SQL Server,10.0,Full time employee,"Developer: App code (C#, JS, etc)",No,10.0,None,4.0,Associates (2 years),NaN,"No, I never have",60.0,5 or more,Private business,North America

In [4]:
del salary_df1["Unnamed: 0"]
salary_df1

,SalaryUSD,Country,PrimaryDatabase,YearsWithThisDatabase,EmploymentStatus,JobTitle,ManageStaff,YearsWithThisTypeOfJob,OtherPeopleOnYourTeam,DatabaseServers,Education,EducationIsComputerRelated,Certifications,HoursWorkedPerWeek,TelecommuteDaysPerWeek,EmploymentSector,Region
0,200000.0,United States,Microsoft SQL Server,10.0,Full time employee,DBA,No,5.0,2,350.0,Masters,No,"Yes, and they're currently valid",45.0,1,Private business,North America
1,137500.0,United States,Microsoft SQL Server,16.0,Full time employee of a consulting/contracting...,DBA,No,6.0,4,200.0,None (no degree completed),NaN,"Yes, and they're currently valid",55.0,5 or more,Private business,North America
2,85000.0,United States,Microsoft SQL Server,8.0,Full time employee,DBA,No,2.0,None,15.0,Bachelors (4 years),Yes,"No, I never have",50.0,"None, or less than 1 day per week",Private business,North America
3,96000.0,United States,Microsoft SQL Server,5.0,Full time employee,DBA,No,5.0,None,100.0,Masters,No,"No, I never have",45.0,1,Private business,North America
4,66000.0,United States,Microsoft SQL Server,10.0,Full time employee,"Developer: App code (C#, JS, etc)",No,10.0,None,4.0,Associates (2 years),NaN,"No, I never have",60.0,5 or more,Private business,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6866,7500.0,Ghana,Microsoft SQL Server,4.0,Full time employee,"Developer: App code (C#, JS, etc)",Yes,8.0,2,2.0,Associates (2 years),Yes,"Yes, but they expired",40.0,"None, or less than 1 day per week",Private business,Africa
6867,22350.0,Dominican Republic,Microsoft SQL Server,11.0,Full time employee,DBA (General - splits time evenly between writ...,No,1.0,3,46.0,None (no degree completed),NaN,"No, I never have",44.0,"None, or less than 1 day per week",Private business,North America
6868,17333.0,Uruguay,Microsoft SQL Server,7.0,Full time employee,DBA (Production Focus - build & troubleshoot s...,Yes,7.0,2,20.0,Bachelors (4 years),Yes,"No, I never have",35.0,5 or more,Private business,South America
6869,35100.0,Guatemala,Microsoft SQL Server,1.0,Full time employee of a consulting/contracting...,DBA (Production Focus - build & troubleshoot s...,No,1.0,2,170.0,Bachelors (4 years),Yes,"Yes, and they're currently valid",44.0,"None, or less than 1 day per week",Private business,South America
6870,51000.0,Taiwan,Microsoft SQL Server,13.0,Full time employee,DBA (General - splits time evenly between writ...,No,10.0,More than 5,100.0,Masters,Yes,"Yes, but they expired",40.0,"None, or less than 1 day per week",Private business,Asia

In [5]:
# sets X as every columns except koi_disposition
X = salary_df1.drop("SalaryUSD", axis=1)
# sets y to koi_disposition
y = salary_df1["SalaryUSD"].values.reshape(-1, 1)

print(X.shape, y.shape)

(6871, 16) (6871, 1)

In [6]:
X.keys()

Index(['Country', 'PrimaryDatabase', 'YearsWithThisDatabase',
       'EmploymentStatus', 'JobTitle', 'ManageStaff', 'YearsWithThisTypeOfJob',
       'OtherPeopleOnYourTeam', 'DatabaseServers', 'Education',
       'EducationIsComputerRelated', 'Certifications', 'HoursWorkedPerWeek',
       'TelecommuteDaysPerWeek', 'EmploymentSector', 'Region'],
      dtype='object')

In [7]:
# X_encoded = pd.get_dummies(X, columns=[["country", "primarydatabase", "employmentstatus", "jobtitle", "managestaff", "otherpeopleonyourteam", "education", "educationiscomputerrelated", "certifications", "telecommutedaysperweek", "employmentsector", "region"]])
X_encoded = pd.get_dummies(X)
X_encoded

,YearsWithThisDatabase,YearsWithThisTypeOfJob,DatabaseServers,HoursWorkedPerWeek,Country_Albania,Country_Argentina,Country_Australia,Country_Austria,Country_Bahrain,Country_Belarus,...,EmploymentSector_Student,Region_Africa,Region_Asia,Region_Australia,Region_Eastern Europe,Region_Latin America,Region_Middle East,Region_North America,Region_South America,Region_Western Europe
0,10.0,5.0,350.0,45.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,16.0,6.0,200.0,55.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,8.0,2.0,15.0,50.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,5.0,5.0,100.0,45.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,10.0,10.0,4.0,60.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6866,4.0,8.0,2.0,40.0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
6867,11.0,1.0,46.0,44.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6868,7.0,7.0,20.0,35.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6869,1.0,1.0,170.0,44.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6870,13.0,10.0,100.0,40.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [8]:
y = y.astype(int)
y.dtype

dtype('int32')

In [9]:
for col in X_encoded.keys():
    X_encoded[col] = X_encoded[col].astype(int)
X_encoded.dtypes

YearsWithThisDatabase     int32
YearsWithThisTypeOfJob    int32
DatabaseServers           int32
HoursWorkedPerWeek        int32
Country_Albania           int32
                          ...
Region_Latin America      int32
Region_Middle East        int32
Region_North America      int32
Region_South America      int32
Region_Western Europe     int32
Length: 172, dtype: object

In [10]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
# fits random forest model to X_encoded and y
rf = rf.fit(X_encoded, y)
# returns the importance of each column to predicting the outcomes
importances = rf.feature_importances_
importances

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

array([8.80479875e-02, 8.73303725e-02, 9.74429997e-02, 6.81630832e-02,
       4.62103238e-05, 3.11164504e-04, 1.81135289e-03, 6.19676110e-04,
       3.63428656e-05, 1.15902666e-04, 8.72411844e-04, 6.33340792e-05,
       4.57698065e-05, 5.71082835e-04, 3.64608344e-04, 3.19436719e-03,
       6.78133139e-05, 7.68268336e-05, 1.84584156e-04, 1.41227312e-04,
       2.83059039e-04, 5.00130541e-04, 1.19019232e-03, 6.58597759e-05,
       4.13651656e-05, 1.06369006e-04, 5.20281342e-05, 6.66508144e-04,
       9.93100309e-04, 2.03067077e-03, 6.81924059e-05, 4.63796433e-04,
       3.98015732e-05, 2.00834606e-04, 1.57982195e-04, 4.35790034e-04,
       1.97883184e-04, 9.28711790e-04, 1.03872679e-03, 5.82116888e-04,
       8.30665172e-04, 8.22611036e-05, 3.48808180e-04, 1.09346184e-04,
       5.37716912e-05, 1.41605439e-04, 3.78733893e-04, 2.11546090e-04,
       9.96798356e-05, 8.33085483e-05, 1.53739977e-04, 4.00923400e-04,
       1.08499963e-04, 4.58531575e-05, 1.71814857e-03, 1.12160503e-03,
       6.67395858e-05, 7.04185526e-04, 9.97895423e-05, 3.62989249e-05,
       8.68983697e-05, 1.74572651e-04, 9.09756613e-04, 5.97397826e-04,
       2.34983176e-04, 8.25528113e-04, 7.72415258e-04, 2.59549532e-04,
       2.83386179e-04, 1.32848385e-04, 1.74572958e-04, 3.61472936e-04,
       9.45700274e-04, 1.02281490e-03, 1.72443867e-03, 1.15488855e-03,
       8.58582519e-05, 6.29706961e-05, 8.44545557e-05, 3.84723610e-04,
       1.69346528e-04, 4.85874954e-04, 1.71153546e-04, 4.28987118e-03,
       4.22986551e-03, 4.21587057e-05, 3.59668599e-05, 3.11905491e-05,
       5.28373548e-04, 8.31055250e-04, 7.90275062e-05, 7.13048016e-04,
       1.13045046e-04, 6.32637616e-04, 7.86529819e-03, 2.73835941e-04,
       1.04562004e-03, 4.95749107e-03, 1.26217258e-03, 1.46772411e-03,
       4.16839272e-04, 1.56584012e-04, 4.25239153e-04, 1.01786201e-02,
       7.89396211e-03, 3.55366875e-03, 2.49921581e-03, 6.21041133e-04,
       7.84887799e-03, 7.65106418e-05, 9.08096233e-03, 6.00804819e-05,
       2.19923211e-02, 7.74982244e-03, 1.85347313e-02, 1.36998269e-02,
       5.81195764e-05, 1.22876708e-03, 6.80639025e-05, 8.96621161e-05,
       1.07786509e-02, 1.10187780e-02, 1.42027522e-02, 8.48207930e-03,
       6.89624603e-03, 3.65487236e-03, 1.09380969e-04, 5.17315842e-05,
       5.57652884e-05, 1.12382107e-04, 9.48891697e-05, 1.13259545e-02,
       1.13869070e-02, 2.19012030e-02, 1.65392907e-02, 1.29630530e-02,
       9.67069321e-03, 7.36454125e-03, 1.34624529e-02, 2.52464923e-02,
       1.39001452e-02, 2.39733560e-02, 1.85910052e-03, 1.74756026e-02,
       1.50064981e-02, 2.21887797e-02, 2.43014824e-02, 2.32286081e-02,
       2.03190405e-02, 1.91542821e-02, 1.57154320e-02, 1.06315986e-02,
       5.88455791e-03, 4.17143616e-03, 1.16057967e-02, 1.82337344e-02,
       4.27592016e-03, 4.43609439e-03, 5.92352440e-03, 5.27929584e-03,
       1.39964273e-02, 6.57833740e-03, 4.81590908e-04, 1.01200669e-03,
       1.09602874e-03, 2.11964694e-03, 1.58824445e-03, 8.75821454e-04,
       8.36507576e-04, 3.09502248e-03, 2.07619792e-04, 3.14769338e-03])

In [11]:
# sorts each column in order of importance
sorted(zip(importances, X.keys()), reverse=True)

[(0.09744299973401618, 'YearsWithThisDatabase'),
 (0.08804798745917189, 'Country'),
 (0.08733037254603022, 'PrimaryDatabase'),
 (0.06816308317905835, 'EmploymentStatus'),
 (0.003194367185445418, 'Region'),
 (0.0018113528894539623, 'YearsWithThisTypeOfJob'),
 (0.0008724118443116165, 'EducationIsComputerRelated'),
 (0.000619676110340816, 'OtherPeopleOnYourTeam'),
 (0.0005710828352788805, 'TelecommuteDaysPerWeek'),
 (0.00036460834415916665, 'EmploymentSector'),
 (0.0003111645036566081, 'ManageStaff'),
 (0.00011590266649379238, 'Education'),
 (6.333407919618261e-05, 'Certifications'),
 (4.621032384595937e-05, 'JobTitle'),
 (4.576980654045107e-05, 'HoursWorkedPerWeek'),
 (3.634286555266262e-05, 'DatabaseServers')]

In [12]:
# Choose the most importance features- this will be the new "X" (selected_features)
selected_features = salary_df1[['YearsWithThisDatabase', 'Country', 'PrimaryDatabase', 'EmploymentStatus', 'Region', 'YearsWithThisTypeOfJob', 'EducationIsComputerRelated', 'OtherPeopleOnYourTeam', 'TelecommuteDaysPerWeek', 'EmploymentSector', 'ManageStaff', 'Education']]

In [13]:
X_encoded2 = pd.get_dummies(selected_features)
X_encoded2

,YearsWithThisDatabase,YearsWithThisTypeOfJob,Country_Albania,Country_Argentina,Country_Australia,Country_Austria,Country_Bahrain,Country_Belarus,Country_Belgium,Country_Bermuda,...,EmploymentSector_Private business,EmploymentSector_State/province government,EmploymentSector_Student,ManageStaff_No,ManageStaff_Yes,Education_Associates (2 years),Education_Bachelors (4 years),Education_Doctorate/PhD,Education_Masters,Education_None (no degree completed)
0,10.0,5.0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
1,16.0,6.0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
2,8.0,2.0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0
3,5.0,5.0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
4,10.0,10.0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6866,4.0,8.0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,1,0,0,0,0
6867,11.0,1.0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
6868,7.0,7.0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,0,0
6869,1.0,1.0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0
6870,13.0,10.0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0

In [14]:
for col in X_encoded2.keys():
    X_encoded2[col] = X_encoded2[col].astype(int)
X_encoded2.dtypes

YearsWithThisDatabase                   int32
YearsWithThisTypeOfJob                  int32
Country_Albania                         int32
Country_Argentina                       int32
Country_Australia                       int32
                                        ...
Education_Associates (2 years)          int32
Education_Bachelors (4 years)           int32
Education_Doctorate/PhD                 int32
Education_Masters                       int32
Education_None (no degree completed)    int32
Length: 144, dtype: object

In [15]:
# split the data up between training and testing data (3/4:1/4)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_encoded2, y, random_state=42)

In [16]:
# Scales the X data
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

In [17]:
import numpy as np

In [18]:
from tensorflow.keras.utils import to_categorical

In [19]:
# One-hot encoding
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)

In [20]:
# first, create a normal neural network with 2 inputs, 6 hidden nodes, and 2 outputs
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense(units=16, activation='relu', input_dim=144))
model.add(Dense(units=144, activation='softmax'))

In [21]:
# Compile the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [22]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 16)                2320
_________________________________________________________________
dense_1 (Dense)              (None, 144)               2448
=================================================================
Total params: 4,768
Trainable params: 4,768
Non-trainable params: 0
_________________________________________________________________

In [23]:
# Fit the model to the training data
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100

ValueError: in user code:

    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\keras\engine\training.py:571 train_function  *
        outputs = self.distribute_strategy.run(
    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:951 run  **
        return self._extended.call_for_each_replica(fn, args=args, kwargs=kwargs)
    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:2290 call_for_each_replica
        return self._call_for_each_replica(fn, args, kwargs)
    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:2649 _call_for_each_replica
        return fn(*args, **kwargs)
    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\keras\engine\training.py:533 train_step  **
        y, y_pred, sample_weight, regularization_losses=self.losses)
    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\keras\engine\compile_utils.py:205 __call__
        loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\keras\losses.py:143 __call__
        losses = self.call(y_true, y_pred)
    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\keras\losses.py:246 call
        return self.fn(y_true, y_pred, **self._fn_kwargs)
    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\keras\losses.py:1527 categorical_crossentropy
        return K.categorical_crossentropy(y_true, y_pred, from_logits=from_logits)
    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\keras\backend.py:4561 categorical_crossentropy
        target.shape.assert_is_compatible_with(output.shape)
    C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow\python\framework\tensor_shape.py:1117 assert_is_compatible_with
        raise ValueError("Shapes %s and %s are incompatible" % (self, other))

    ValueError: Shapes (None, 1450001) and (None, 144) are incompatible