In [1]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from sklearn) (0.23.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (0.15.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (1.18.5)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (1.4.1)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
# import csv to df
salary_df2 = pd.read_csv("../exported_data/salary_data2_new.csv")

del salary_df2["Unnamed: 0"]
salary_df2 = salary_df2.dropna()
salary_df2 = salary_df2.drop(salary_df2[salary_df2.salary < 5000].index)
salary_df2.head()

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (2,3,4,5,6,7,8,22,23,49) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,age,gender,country,education,title,size,data_prof_size,mach_learn_presence,salary,udacity,...,sqlserver,oracle,micro_acess,aws_data,aws_dynamo,azure_sql,google_sql,database_none,database_other,total_db
0,23.0,Female,United States of America,Bachelor’s degree,Data Scientist,large,20+,"We recently started using ML methods (i.e., mo...",84999.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,32.0,Male,United States of America,Master’s degree,Product/Project Manager,large,20+,I do not know,94999.5,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,52.0,Female,United States of America,Master’s degree,Data Analyst,small,2-Jan,We use ML methods for generating insights (but...,137499.5,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,37.0,Male,United States of America,Bachelor’s degree,Other,small,14-Oct,"We have well established ML methods (i.e., mod...",137499.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,32.0,Female,United States of America,Master’s degree,Research Scientist,large,20+,"We recently started using ML methods (i.e., mo...",174999.5,0.0,...,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,6.0

In [23]:
salary_df2["salary"].value_counts()

112499.5    368
174999.5    331
137499.5    313
94999.5     145
84999.5     143
74999.5     139
224999.5    120
64999.5      95
54999.5      79
44999.5      48
400000.0     48
274999.5     42
34999.5      30
250000.0     24
27499.5      16
17499.5      15
22499.5      14
12499.5      13
6249.5        9
8749.5        7
Name: salary, dtype: int64

In [24]:
# sets X as every columns except koi_disposition
X = salary_df2.drop("salary", axis=1)

# sets y to koi_disposition
y = salary_df2["salary"].astype(str).values.reshape(-1, 1)

print(X.shape, y.shape)

(1999, 112) (1999, 1)

In [25]:
X_encoded = pd.get_dummies(X)
print(X_encoded.shape, y.shape)
X_encoded

(1999, 167) (1999, 1)

,age,udacity,coursera,edx,datacamp,dataquest,kaggle,fastai,udemy,linkedin,...,first_program_C,first_program_C++,first_program_Java,first_program_Javascript,first_program_MATLAB,first_program_None,first_program_Other,first_program_Python,first_program_R,first_program_SQL
0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,1,0,0
1,32.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0,0,0,0,0,0,0,1,0,0
2,52.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,1
3,37.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0
4,32.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2128,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2130,32.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2131,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2132,37.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2133,27.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
y

array([['84999.5'],
       ['94999.5'],
       ['137499.5'],
       ...,
       ['17499.5'],
       ['64999.5'],
       ['54999.5']], dtype=object)

In [27]:
selected_features = salary_df2[["age", "data_prof_size", "title", "education", "years_mach_learn"]]

In [28]:
X_encoded2 = pd.get_dummies(selected_features)
X_encoded2

,age,years_mach_learn,data_prof_size_0,data_prof_size_14-Oct,data_prof_size_15-19,data_prof_size_2-Jan,data_prof_size_20+,data_prof_size_4-Mar,data_prof_size_9-May,title_Business Analyst,...,title_Research Scientist,title_Software Engineer,title_Statistician,education_Bachelor’s degree,education_Doctoral degree,education_I prefer not to answer,education_Master’s degree,education_No formal education past high school,education_Professional degree,education_Some college/university study without earning a bachelor’s degree
0,23.0,1.0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,32.0,1.0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,52.0,1.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,37.0,1.0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,32.0,1.0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2128,27.0,0.0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2130,32.0,0.0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
2131,23.0,0.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2132,37.0,0.0,0,0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0
2133,27.0,0.0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0

In [29]:
for col in X_encoded2.keys():
    X_encoded2[col] = X_encoded2[col].astype(int)
X_encoded2.dtypes

age                                                                            int32
years_mach_learn                                                               int32
data_prof_size_0                                                               int32
data_prof_size_14-Oct                                                          int32
data_prof_size_15-19                                                           int32
data_prof_size_2-Jan                                                           int32
data_prof_size_20+                                                             int32
data_prof_size_4-Mar                                                           int32
data_prof_size_9-May                                                           int32
title_Business Analyst                                                         int32
title_DBA/Database Engineer                                                    int32
title_Data Analyst                                                             int32
title_Data Engineer                                                            int32
title_Data Scientist                                                           int32
title_Other                                                                    int32
title_Product/Project Manager                                                  int32
title_Research Scientist                                                       int32
title_Software Engineer                                                        int32
title_Statistician                                                             int32
education_Bachelor’s degree                                                    int32
education_Doctoral degree                                                      int32
education_I prefer not to answer                                               int32
education_Master’s degree                                                      int32
education_No formal education past high school                                 int32
education_Professional degree                                                  int32
education_Some college/university study without earning a bachelor’s degree    int32
dtype: object

In [30]:
from sklearn.model_selection import train_test_split

# Split data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X_encoded2, y, random_state=115, stratify=y)

In [31]:
X_train.head()

,age,years_mach_learn,data_prof_size_0,data_prof_size_14-Oct,data_prof_size_15-19,data_prof_size_2-Jan,data_prof_size_20+,data_prof_size_4-Mar,data_prof_size_9-May,title_Business Analyst,...,title_Research Scientist,title_Software Engineer,title_Statistician,education_Bachelor’s degree,education_Doctoral degree,education_I prefer not to answer,education_Master’s degree,education_No formal education past high school,education_Professional degree,education_Some college/university study without earning a bachelor’s degree
167,42,1,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2109,27,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1632,27,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
36,32,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1644,37,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [32]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [33]:
# Scale your data
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [34]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [35]:
# One-hot encoding

y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)
y_train_categorical

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [39]:
# first, create a normal neural network with 2 inputs, 6 hidden nodes, and 2 outputs
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense(units=26, activation='relu', input_dim=26))
model.add(Dense(units=20, activation='softmax'))

In [40]:
# Compile the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [41]:
# Fit the model to the training data
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
47/47 - 0s - loss: 2.9425 - accuracy: 0.0707
Epoch 2/100
47/47 - 0s - loss: 2.7146 - accuracy: 0.1488
Epoch 3/100
47/47 - 0s - loss: 2.5539 - accuracy: 0.1748
Epoch 4/100
47/47 - 0s - loss: 2.4732 - accuracy: 0.1808
Epoch 5/100
47/47 - 0s - loss: 2.4389 - accuracy: 0.1928
Epoch 6/100
47/47 - 0s - loss: 2.4176 - accuracy: 0.2028
Epoch 7/100
47/47 - 0s - loss: 2.4014 - accuracy: 0.2081
Epoch 8/100
47/47 - 0s - loss: 2.3870 - accuracy: 0.2115
Epoch 9/100
47/47 - 0s - loss: 2.3726 - accuracy: 0.2075
Epoch 10/100
47/47 - 0s - loss: 2.3596 - accuracy: 0.2161
Epoch 11/100
47/47 - 0s - loss: 2.3488 - accuracy: 0.2161
Epoch 12/100
47/47 - 0s - loss: 2.3366 - accuracy: 0.2262
Epoch 13/100
47/47 - 0s - loss: 2.3273 - accuracy: 0.2175
Epoch 14/100
47/47 - 0s - loss: 2.3191 - accuracy: 0.2235
Epoch 15/100
47/47 - 0s - loss: 2.3098 - accuracy: 0.2248
Epoch 16/100
47/47 - 0s - loss: 2.3012 - accuracy: 0.2288
Epoch 17/100
47/47 - 0s - loss: 2.2936 - accuracy: 0.2288
Epoch 18/100
47/47 - 0s - loss: 2.2867 - accuracy: 0.2328
Epoch 19/100
47/47 - 0s - loss: 2.2793 - accuracy: 0.2328
Epoch 20/100
47/47 - 0s - loss: 2.2726 - accuracy: 0.2388
Epoch 21/100
47/47 - 0s - loss: 2.2659 - accuracy: 0.2368
Epoch 22/100
47/47 - 0s - loss: 2.2614 - accuracy: 0.2368
Epoch 23/100
47/47 - 0s - loss: 2.2548 - accuracy: 0.2395
Epoch 24/100
47/47 - 0s - loss: 2.2490 - accuracy: 0.2355
Epoch 25/100
47/47 - 0s - loss: 2.2445 - accuracy: 0.2368
Epoch 26/100
47/47 - 0s - loss: 2.2391 - accuracy: 0.2368
Epoch 27/100
47/47 - 0s - loss: 2.2347 - accuracy: 0.2415
Epoch 28/100
47/47 - 0s - loss: 2.2300 - accuracy: 0.2428
Epoch 29/100
47/47 - 0s - loss: 2.2264 - accuracy: 0.2422
Epoch 30/100
47/47 - 0s - loss: 2.2235 - accuracy: 0.2422
Epoch 31/100
47/47 - 0s - loss: 2.2176 - accuracy: 0.2482
Epoch 32/100
47/47 - 0s - loss: 2.2140 - accuracy: 0.2462
Epoch 33/100
47/47 - 0s - loss: 2.2114 - accuracy: 0.2462
Epoch 34/100
47/47 - 0s - loss: 2.2070 - accuracy: 0.2488
Epoch 35/100
47/47 - 0s - loss: 2.2044 - accuracy: 0.2462
Epoch 36/100
47/47 - 0s - loss: 2.2013 - accuracy: 0.2528
Epoch 37/100
47/47 - 0s - loss: 2.1972 - accuracy: 0.2428
Epoch 38/100
47/47 - 0s - loss: 2.1958 - accuracy: 0.2488
Epoch 39/100
47/47 - 0s - loss: 2.1915 - accuracy: 0.2482
Epoch 40/100
47/47 - 0s - loss: 2.1887 - accuracy: 0.2495
Epoch 41/100
47/47 - 0s - loss: 2.1851 - accuracy: 0.2535
Epoch 42/100
47/47 - 0s - loss: 2.1837 - accuracy: 0.2568
Epoch 43/100
47/47 - 0s - loss: 2.1816 - accuracy: 0.2555
Epoch 44/100
47/47 - 0s - loss: 2.1783 - accuracy: 0.2562
Epoch 45/100
47/47 - 0s - loss: 2.1756 - accuracy: 0.2555
Epoch 46/100
47/47 - 0s - loss: 2.1737 - accuracy: 0.2575
Epoch 47/100
47/47 - 0s - loss: 2.1713 - accuracy: 0.2568
Epoch 48/100
47/47 - 0s - loss: 2.1684 - accuracy: 0.2622
Epoch 49/100
47/47 - 0s - loss: 2.1672 - accuracy: 0.2575
Epoch 50/100
47/47 - 0s - loss: 2.1655 - accuracy: 0.2628
Epoch 51/100
47/47 - 0s - loss: 2.1636 - accuracy: 0.2575
Epoch 52/100
47/47 - 0s - loss: 2.1616 - accuracy: 0.2602
Epoch 53/100
47/47 - 0s - loss: 2.1586 - accuracy: 0.2668
Epoch 54/100
47/47 - 0s - loss: 2.1578 - accuracy: 0.2555
Epoch 55/100
47/47 - 0s - loss: 2.1551 - accuracy: 0.2608
Epoch 56/100
47/47 - 0s - loss: 2.1547 - accuracy: 0.2608
Epoch 57/100
47/47 - 0s - loss: 2.1521 - accuracy: 0.2628
Epoch 58/100
47/47 - 0s - loss: 2.1500 - accuracy: 0.2595
Epoch 59/100
47/47 - 0s - loss: 2.1475 - accuracy: 0.2628
Epoch 60/100
47/47 - 0s - loss: 2.1456 - accuracy: 0.2608
Epoch 61/100
47/47 - 0s - loss: 2.1444 - accuracy: 0.2622
Epoch 62/100
47/47 - 0s - loss: 2.1434 - accuracy: 0.2602
Epoch 63/100
47/47 - 0s - loss: 2.1414 - accuracy: 0.2642
Epoch 64/100
47/47 - 0s - loss: 2.1398 - accuracy: 0.2582
Epoch 65/100
47/47 - 0s - loss: 2.1390 - accuracy: 0.2682
Epoch 66/100
47/47 - 0s - loss: 2.1370 - accuracy: 0.2708
Epoch 67/100
47/47 - 0s - loss: 2.1348 - accuracy: 0.2562
Epoch 68/100
47/47 - 0s - loss: 2.1346 - accuracy: 0.2628
Epoch 69/100
47/47 - 0s - loss: 2.1332 - accuracy: 0.2635
Epoch 70/100
47/47 - 0s - loss: 2.1311 - accuracy: 0.2628
Epoch 71/100
47/47 - 0s - loss: 2.1310 - accuracy: 0.2688
Epoch 72/100
47/47 - 0s - loss: 2.1282 - accuracy: 0.2622
Epoch 73/100
47/47 - 0s - loss: 2.1271 - accuracy: 0.2635
Epoch 74/100
47/47 - 0s - loss: 2.1266 - accuracy: 0.2582
Epoch 75/100
47/47 - 0s - loss: 2.1254 - accuracy: 0.2668
Epoch 76/100
47/47 - 0s - loss: 2.1227 - accuracy: 0.2655
Epoch 77/100
47/47 - 0s - loss: 2.1232 - accuracy: 0.2662
Epoch 78/100
47/47 - 0s - loss: 2.1219 - accuracy: 0.2628
Epoch 79/100
47/47 - 0s - loss: 2.1201 - accuracy: 0.2662
Epoch 80/100
47/47 - 0s - loss: 2.1186 - accuracy: 0.2602
Epoch 81/100
47/47 - 0s - loss: 2.1170 - accuracy: 0.2675
Epoch 82/100
47/47 - 0s - loss: 2.1165 - accuracy: 0.2635
Epoch 83/100
47/47 - 0s - loss: 2.1148 - accuracy: 0.2682
Epoch 84/100
47/47 - 0s - loss: 2.1150 - accuracy: 0.2708
Epoch 85/100
47/47 - 0s - loss: 2.1134 - accuracy: 0.2675
Epoch 86/100
47/47 - 0s - loss: 2.1120 - accuracy: 0.2668
Epoch 87/100
47/47 - 0s - loss: 2.1104 - accuracy: 0.2675
Epoch 88/100
47/47 - 0s - loss: 2.1104 - accuracy: 0.2675
Epoch 89/100
47/47 - 0s - loss: 2.1082 - accuracy: 0.2662
Epoch 90/100
47/47 - 0s - loss: 2.1077 - accuracy: 0.2695
Epoch 91/100
47/47 - 0s - loss: 2.1063 - accuracy: 0.2662
Epoch 92/100
47/47 - 0s - loss: 2.1048 - accuracy: 0.2695
Epoch 93/100
47/47 - 0s - loss: 2.1034 - accuracy: 0.2622
Epoch 94/100
47/47 - 0s - loss: 2.1035 - accuracy: 0.2668
Epoch 95/100
47/47 - 0s - loss: 2.1015 - accuracy: 0.2695
Epoch 96/100
47/47 - 0s - loss: 2.1025 - accuracy: 0.2742
Epoch 97/100
47/47 - 0s - loss: 2.1002 - accuracy: 0.2682
Epoch 98/100
47/47 - 0s - loss: 2.0995 - accuracy: 0.2722
Epoch 99/100
47/47 - 0s - loss: 2.0983 - accuracy: 0.2628
Epoch 100/100
47/47 - 0s - loss: 2.0973 - accuracy: 0.2715

In [42]:
# Evaluate the model using the testing data
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

16/16 - 0s - loss: 2.4758 - accuracy: 0.1640
Loss: 2.475820302963257, Accuracy: 0.164000004529953

In [43]:
deep_model = Sequential()
deep_model.add(Dense(units=26, activation='relu', input_dim=26))
deep_model.add(Dense(units=52, activation='relu'))
deep_model.add(Dense(units=20, activation='softmax'))

In [44]:
deep_model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_9 (Dense)              (None, 26)                702
_________________________________________________________________
dense_10 (Dense)             (None, 52)                1404
_________________________________________________________________
dense_11 (Dense)             (None, 20)                1060
=================================================================
Total params: 3,166
Trainable params: 3,166
Non-trainable params: 0
_________________________________________________________________

In [45]:
deep_model.compile(optimizer='adam',
                   loss='categorical_crossentropy',
                   metrics=['accuracy'])

deep_model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
47/47 - 0s - loss: 2.8550 - accuracy: 0.1568
Epoch 2/100
47/47 - 0s - loss: 2.5445 - accuracy: 0.1801
Epoch 3/100
47/47 - 0s - loss: 2.4463 - accuracy: 0.1941
Epoch 4/100
47/47 - 0s - loss: 2.4119 - accuracy: 0.1961
Epoch 5/100
47/47 - 0s - loss: 2.3862 - accuracy: 0.2135
Epoch 6/100
47/47 - 0s - loss: 2.3637 - accuracy: 0.2141
Epoch 7/100
47/47 - 0s - loss: 2.3429 - accuracy: 0.2282
Epoch 8/100
47/47 - 0s - loss: 2.3260 - accuracy: 0.2248
Epoch 9/100
47/47 - 0s - loss: 2.3095 - accuracy: 0.2282
Epoch 10/100
47/47 - 0s - loss: 2.2954 - accuracy: 0.2241
Epoch 11/100
47/47 - 0s - loss: 2.2783 - accuracy: 0.2348
Epoch 12/100
47/47 - 0s - loss: 2.2644 - accuracy: 0.2442
Epoch 13/100
47/47 - 0s - loss: 2.2550 - accuracy: 0.2455
Epoch 14/100
47/47 - 0s - loss: 2.2418 - accuracy: 0.2408
Epoch 15/100
47/47 - 0s - loss: 2.2374 - accuracy: 0.2435
Epoch 16/100
47/47 - 0s - loss: 2.2215 - accuracy: 0.2455
Epoch 17/100
47/47 - 0s - loss: 2.2116 - accuracy: 0.2542
Epoch 18/100
47/47 - 0s - loss: 2.1983 - accuracy: 0.2568
Epoch 19/100
47/47 - 0s - loss: 2.1894 - accuracy: 0.2542
Epoch 20/100
47/47 - 0s - loss: 2.1813 - accuracy: 0.2588
Epoch 21/100
47/47 - 0s - loss: 2.1717 - accuracy: 0.2562
Epoch 22/100
47/47 - 0s - loss: 2.1660 - accuracy: 0.2555
Epoch 23/100
47/47 - 0s - loss: 2.1592 - accuracy: 0.2635
Epoch 24/100
47/47 - 0s - loss: 2.1486 - accuracy: 0.2742
Epoch 25/100
47/47 - 0s - loss: 2.1410 - accuracy: 0.2755
Epoch 26/100
47/47 - 0s - loss: 2.1343 - accuracy: 0.2795
Epoch 27/100
47/47 - 0s - loss: 2.1279 - accuracy: 0.2675
Epoch 28/100
47/47 - 0s - loss: 2.1218 - accuracy: 0.2862
Epoch 29/100
47/47 - 0s - loss: 2.1151 - accuracy: 0.2862
Epoch 30/100
47/47 - 0s - loss: 2.1097 - accuracy: 0.2882
Epoch 31/100
47/47 - 0s - loss: 2.1069 - accuracy: 0.2849
Epoch 32/100
47/47 - 0s - loss: 2.0965 - accuracy: 0.2922
Epoch 33/100
47/47 - 0s - loss: 2.0953 - accuracy: 0.2855
Epoch 34/100
47/47 - 0s - loss: 2.0881 - accuracy: 0.2929
Epoch 35/100
47/47 - 0s - loss: 2.0872 - accuracy: 0.2989
Epoch 36/100
47/47 - 0s - loss: 2.0810 - accuracy: 0.2949
Epoch 37/100
47/47 - 0s - loss: 2.0761 - accuracy: 0.2962
Epoch 38/100
47/47 - 0s - loss: 2.0705 - accuracy: 0.2915
Epoch 39/100
47/47 - 0s - loss: 2.0653 - accuracy: 0.3002
Epoch 40/100
47/47 - 0s - loss: 2.0600 - accuracy: 0.2975
Epoch 41/100
47/47 - 0s - loss: 2.0545 - accuracy: 0.3035
Epoch 42/100
47/47 - 0s - loss: 2.0514 - accuracy: 0.3015
Epoch 43/100
47/47 - 0s - loss: 2.0458 - accuracy: 0.3062
Epoch 44/100
47/47 - 0s - loss: 2.0443 - accuracy: 0.2975
Epoch 45/100
47/47 - 0s - loss: 2.0377 - accuracy: 0.3029
Epoch 46/100
47/47 - 0s - loss: 2.0338 - accuracy: 0.2962
Epoch 47/100
47/47 - 0s - loss: 2.0331 - accuracy: 0.3095
Epoch 48/100
47/47 - 0s - loss: 2.0263 - accuracy: 0.3149
Epoch 49/100
47/47 - 0s - loss: 2.0244 - accuracy: 0.3102
Epoch 50/100
47/47 - 0s - loss: 2.0201 - accuracy: 0.3169
Epoch 51/100
47/47 - 0s - loss: 2.0153 - accuracy: 0.3082
Epoch 52/100
47/47 - 0s - loss: 2.0120 - accuracy: 0.3149
Epoch 53/100
47/47 - 0s - loss: 2.0094 - accuracy: 0.3062
Epoch 54/100
47/47 - 0s - loss: 2.0059 - accuracy: 0.3089
Epoch 55/100
47/47 - 0s - loss: 2.0064 - accuracy: 0.3062
Epoch 56/100
47/47 - 0s - loss: 1.9987 - accuracy: 0.3169
Epoch 57/100
47/47 - 0s - loss: 1.9997 - accuracy: 0.3142
Epoch 58/100
47/47 - 0s - loss: 1.9890 - accuracy: 0.3155
Epoch 59/100
47/47 - 0s - loss: 1.9872 - accuracy: 0.3102
Epoch 60/100
47/47 - 0s - loss: 1.9841 - accuracy: 0.3262
Epoch 61/100
47/47 - 0s - loss: 1.9806 - accuracy: 0.3149
Epoch 62/100
47/47 - 0s - loss: 1.9780 - accuracy: 0.3262
Epoch 63/100
47/47 - 0s - loss: 1.9766 - accuracy: 0.3229
Epoch 64/100
47/47 - 0s - loss: 1.9754 - accuracy: 0.3182
Epoch 65/100
47/47 - 0s - loss: 1.9690 - accuracy: 0.3202
Epoch 66/100
47/47 - 0s - loss: 1.9667 - accuracy: 0.3149
Epoch 67/100
47/47 - 0s - loss: 1.9599 - accuracy: 0.3202
Epoch 68/100
47/47 - 0s - loss: 1.9586 - accuracy: 0.3162
Epoch 69/100
47/47 - 0s - loss: 1.9539 - accuracy: 0.3342
Epoch 70/100
47/47 - 0s - loss: 1.9505 - accuracy: 0.3209
Epoch 71/100
47/47 - 0s - loss: 1.9514 - accuracy: 0.3235
Epoch 72/100
47/47 - 0s - loss: 1.9469 - accuracy: 0.3322
Epoch 73/100
47/47 - 0s - loss: 1.9438 - accuracy: 0.3276
Epoch 74/100
47/47 - 0s - loss: 1.9419 - accuracy: 0.3302
Epoch 75/100
47/47 - 0s - loss: 1.9390 - accuracy: 0.3282
Epoch 76/100
47/47 - 0s - loss: 1.9321 - accuracy: 0.3229
Epoch 77/100
47/47 - 0s - loss: 1.9315 - accuracy: 0.3282
Epoch 78/100
47/47 - 0s - loss: 1.9296 - accuracy: 0.3376
Epoch 79/100
47/47 - 0s - loss: 1.9252 - accuracy: 0.3349
Epoch 80/100
47/47 - 0s - loss: 1.9242 - accuracy: 0.3402
Epoch 81/100
47/47 - 0s - loss: 1.9172 - accuracy: 0.3362
Epoch 82/100
47/47 - 0s - loss: 1.9170 - accuracy: 0.3329
Epoch 83/100
47/47 - 0s - loss: 1.9135 - accuracy: 0.3402
Epoch 84/100
47/47 - 0s - loss: 1.9122 - accuracy: 0.3429
Epoch 85/100
47/47 - 0s - loss: 1.9108 - accuracy: 0.3336
Epoch 86/100
47/47 - 0s - loss: 1.9063 - accuracy: 0.3356
Epoch 87/100
47/47 - 0s - loss: 1.9019 - accuracy: 0.3422
Epoch 88/100
47/47 - 0s - loss: 1.8992 - accuracy: 0.3402
Epoch 89/100
47/47 - 0s - loss: 1.9018 - accuracy: 0.3382
Epoch 90/100
47/47 - 0s - loss: 1.8951 - accuracy: 0.3496
Epoch 91/100
47/47 - 0s - loss: 1.8918 - accuracy: 0.3496
Epoch 92/100
47/47 - 0s - loss: 1.8887 - accuracy: 0.3449
Epoch 93/100
47/47 - 0s - loss: 1.8878 - accuracy: 0.3476
Epoch 94/100
47/47 - 0s - loss: 1.8855 - accuracy: 0.3502
Epoch 95/100
47/47 - 0s - loss: 1.8831 - accuracy: 0.3509
Epoch 96/100
47/47 - 0s - loss: 1.8794 - accuracy: 0.3589
Epoch 97/100
47/47 - 0s - loss: 1.8783 - accuracy: 0.3469
Epoch 98/100
47/47 - 0s - loss: 1.8818 - accuracy: 0.3482
Epoch 99/100
47/47 - 0s - loss: 1.8721 - accuracy: 0.3442
Epoch 100/100
47/47 - 0s - loss: 1.8684 - accuracy: 0.3516

In [46]:
# Deep Learning
model_loss, model_accuracy = deep_model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(f"Deep Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

16/16 - 0s - loss: 2.7247 - accuracy: 0.1640
Deep Neural Network - Loss: 2.7246906757354736, Accuracy: 0.164000004529953