In [1]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from sklearn) (0.23.1)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (0.15.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (1.18.5)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# import csv to df
salary_df2 = pd.read_csv("../exported_data/salary_data2_new.csv")
salary_df2.head()

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (2,3,4,5,6,7,8,22,23,49) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,age,gender,country,education,title,size,data_prof_size,mach_learn_presence,salary,...,sqlserver,oracle,micro_acess,aws_data,aws_dynamo,azure_sql,google_sql,database_none,database_other,total_db
0,6.0,23.0,Female,United States of America,Bachelor’s degree,Data Scientist,large,20+,"We recently started using ML methods (i.e., mo...",84999.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10.0,32.0,Male,United States of America,Master’s degree,Product/Project Manager,large,20+,I do not know,94999.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,11.0,52.0,Female,United States of America,Master’s degree,Data Analyst,small,2-Jan,We use ML methods for generating insights (but...,137499.5,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,16.0,37.0,Male,United States of America,Bachelor’s degree,Other,small,14-Oct,"We have well established ML methods (i.e., mod...",137499.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,27.0,32.0,Female,United States of America,Master’s degree,Research Scientist,large,20+,"We recently started using ML methods (i.e., mo...",174999.5,...,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,6.0

In [4]:
del salary_df2["Unnamed: 0"]

salary_df2 = salary_df2.dropna()
salary_df2 = salary_df2.drop(salary_df2[salary_df2.salary < 5000].index)

salary_df2

,age,gender,country,education,title,size,data_prof_size,mach_learn_presence,salary,udacity,...,sqlserver,oracle,micro_acess,aws_data,aws_dynamo,azure_sql,google_sql,database_none,database_other,total_db
0,23.0,Female,United States of America,Bachelor’s degree,Data Scientist,large,20+,"We recently started using ML methods (i.e., mo...",84999.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,32.0,Male,United States of America,Master’s degree,Product/Project Manager,large,20+,I do not know,94999.5,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,52.0,Female,United States of America,Master’s degree,Data Analyst,small,2-Jan,We use ML methods for generating insights (but...,137499.5,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,37.0,Male,United States of America,Bachelor’s degree,Other,small,14-Oct,"We have well established ML methods (i.e., mod...",137499.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,32.0,Female,United States of America,Master’s degree,Research Scientist,large,20+,"We recently started using ML methods (i.e., mo...",174999.5,0.0,...,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2128,27.0,Male,United States of America,Master’s degree,Data Scientist,large,20+,"We have well established ML methods (i.e., mod...",137499.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2130,32.0,Male,United States of America,Doctoral degree,Data Scientist,medium,9-May,I do not know,44999.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2131,23.0,Female,United States of America,Master’s degree,Data Analyst,small,14-Oct,No (we do not use ML methods),17499.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2132,37.0,Male,United States of America,Doctoral degree,Research Scientist,medium,20+,We are exploring ML methods (and may one day p...,64999.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2133,27.0,Female,United States of America,Master’s degree,Data Engineer,medium,9-May,No (we do not use ML methods),54999.5,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
salary_df2["salary"].value_counts()

112499.5    368
174999.5    331
137499.5    313
94999.5     145
84999.5     143
74999.5     139
224999.5    120
64999.5      95
54999.5      79
44999.5      48
400000.0     48
274999.5     42
34999.5      30
250000.0     24
27499.5      16
17499.5      15
22499.5      14
12499.5      13
6249.5        9
8749.5        7
Name: salary, dtype: int64

In [6]:
# sets X as every columns except koi_disposition
X = salary_df2.drop("salary", axis=1)

# sets y to koi_disposition
y = salary_df2["salary"].values.reshape(-1, 1)

print(X.shape, y.shape)

(1999, 112) (1999, 1)

In [7]:
X_encoded = pd.get_dummies(X)
print(X_encoded.shape, y.shape)
X_encoded

(1999, 167) (1999, 1)

,age,udacity,coursera,edx,datacamp,dataquest,kaggle,fastai,udemy,linkedin,...,first_program_C,first_program_C++,first_program_Java,first_program_Javascript,first_program_MATLAB,first_program_None,first_program_Other,first_program_Python,first_program_R,first_program_SQL
0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,1,0,0
1,32.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0,0,0,0,0,0,0,1,0,0
2,52.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,1
3,37.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0
4,32.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2128,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2130,32.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2131,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2132,37.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2133,27.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
y

array([[ 84999.5],
       [ 94999.5],
       [137499.5],
       ...,
       [ 17499.5],
       [ 64999.5],
       [ 54999.5]])

In [9]:
from sklearn.model_selection import train_test_split

# Split data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, random_state=115, stratify=y)

In [10]:
X_train.head()

,age,udacity,coursera,edx,datacamp,dataquest,kaggle,fastai,udemy,linkedin,...,first_program_C,first_program_C++,first_program_Java,first_program_Javascript,first_program_MATLAB,first_program_None,first_program_Other,first_program_Python,first_program_R,first_program_SQL
167,42.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0
2109,27.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,1,0,0
1632,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
36,32.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,1,0,0
1644,37.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,1,0,0

In [11]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [12]:
# Scale your data
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [14]:
# One-hot encoding

y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)
y_train_categorical

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [15]:
# first, create a normal neural network with 2 inputs, 6 hidden nodes, and 2 outputs
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense(units=167, activation='relu', input_dim=167))
model.add(Dense(units=20, activation='softmax'))

In [16]:
# Compile the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [17]:
# Fit the model to the training data
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
47/47 - 0s - loss: 2.5850 - accuracy: 0.1701
Epoch 2/100
47/47 - 0s - loss: 2.3522 - accuracy: 0.2368
Epoch 3/100
47/47 - 0s - loss: 2.2325 - accuracy: 0.2655
Epoch 4/100
47/47 - 0s - loss: 2.1247 - accuracy: 0.3002
Epoch 5/100
47/47 - 0s - loss: 2.0319 - accuracy: 0.3369
Epoch 6/100
47/47 - 0s - loss: 1.9442 - accuracy: 0.3549
Epoch 7/100
47/47 - 0s - loss: 1.8645 - accuracy: 0.3996
Epoch 8/100
47/47 - 0s - loss: 1.7882 - accuracy: 0.4223
Epoch 9/100
47/47 - 0s - loss: 1.7135 - accuracy: 0.4496
Epoch 10/100
47/47 - 0s - loss: 1.6430 - accuracy: 0.4963
Epoch 11/100
47/47 - 0s - loss: 1.5783 - accuracy: 0.5110
Epoch 12/100
47/47 - 0s - loss: 1.5064 - accuracy: 0.5457
Epoch 13/100
47/47 - 0s - loss: 1.4446 - accuracy: 0.5564
Epoch 14/100
47/47 - 0s - loss: 1.3749 - accuracy: 0.6077
Epoch 15/100
47/47 - 0s - loss: 1.3210 - accuracy: 0.6197
Epoch 16/100
47/47 - 0s - loss: 1.2479 - accuracy: 0.6478
Epoch 17/100
47/47 - 0s - loss: 1.1964 - accuracy: 0.6724
Epoch 18/100
47/47 - 0s - loss: 1.1300 - accuracy: 0.7058
Epoch 19/100
47/47 - 0s - loss: 1.0715 - accuracy: 0.7318
Epoch 20/100
47/47 - 0s - loss: 1.0159 - accuracy: 0.7545
Epoch 21/100
47/47 - 0s - loss: 0.9625 - accuracy: 0.7765
Epoch 22/100
47/47 - 0s - loss: 0.9109 - accuracy: 0.8045
Epoch 23/100
47/47 - 0s - loss: 0.8624 - accuracy: 0.8205
Epoch 24/100
47/47 - 0s - loss: 0.8110 - accuracy: 0.8406
Epoch 25/100
47/47 - 0s - loss: 0.7682 - accuracy: 0.8552
Epoch 26/100
47/47 - 0s - loss: 0.7258 - accuracy: 0.8719
Epoch 27/100
47/47 - 0s - loss: 0.6789 - accuracy: 0.8913
Epoch 28/100
47/47 - 0s - loss: 0.6445 - accuracy: 0.8999
Epoch 29/100
47/47 - 0s - loss: 0.6016 - accuracy: 0.9159
Epoch 30/100
47/47 - 0s - loss: 0.5686 - accuracy: 0.9186
Epoch 31/100
47/47 - 0s - loss: 0.5343 - accuracy: 0.9333
Epoch 32/100
47/47 - 0s - loss: 0.4966 - accuracy: 0.9460
Epoch 33/100
47/47 - 0s - loss: 0.4715 - accuracy: 0.9460
Epoch 34/100
47/47 - 0s - loss: 0.4425 - accuracy: 0.9546
Epoch 35/100
47/47 - 0s - loss: 0.4161 - accuracy: 0.9633
Epoch 36/100
47/47 - 0s - loss: 0.3891 - accuracy: 0.9673
Epoch 37/100
47/47 - 0s - loss: 0.3642 - accuracy: 0.9733
Epoch 38/100
47/47 - 0s - loss: 0.3415 - accuracy: 0.9746
Epoch 39/100
47/47 - 0s - loss: 0.3203 - accuracy: 0.9813
Epoch 40/100
47/47 - 0s - loss: 0.3007 - accuracy: 0.9820
Epoch 41/100
47/47 - 0s - loss: 0.2837 - accuracy: 0.9833
Epoch 42/100
47/47 - 0s - loss: 0.2672 - accuracy: 0.9867
Epoch 43/100
47/47 - 0s - loss: 0.2500 - accuracy: 0.9867
Epoch 44/100
47/47 - 0s - loss: 0.2353 - accuracy: 0.9887
Epoch 45/100
47/47 - 0s - loss: 0.2211 - accuracy: 0.9907
Epoch 46/100
47/47 - 0s - loss: 0.2087 - accuracy: 0.9920
Epoch 47/100
47/47 - 0s - loss: 0.1987 - accuracy: 0.9927
Epoch 48/100
47/47 - 0s - loss: 0.1879 - accuracy: 0.9960
Epoch 49/100
47/47 - 0s - loss: 0.1750 - accuracy: 0.9960
Epoch 50/100
47/47 - 0s - loss: 0.1654 - accuracy: 0.9947
Epoch 51/100
47/47 - 0s - loss: 0.1568 - accuracy: 0.9953
Epoch 52/100
47/47 - 0s - loss: 0.1477 - accuracy: 0.9960
Epoch 53/100
47/47 - 0s - loss: 0.1407 - accuracy: 0.9973
Epoch 54/100
47/47 - 0s - loss: 0.1338 - accuracy: 0.9973
Epoch 55/100
47/47 - 0s - loss: 0.1253 - accuracy: 0.9973
Epoch 56/100
47/47 - 0s - loss: 0.1194 - accuracy: 0.9960
Epoch 57/100
47/47 - 0s - loss: 0.1135 - accuracy: 0.9980
Epoch 58/100
47/47 - 0s - loss: 0.1081 - accuracy: 0.9980
Epoch 59/100
47/47 - 0s - loss: 0.1024 - accuracy: 0.9973
Epoch 60/100
47/47 - 0s - loss: 0.0978 - accuracy: 0.9980
Epoch 61/100
47/47 - 0s - loss: 0.0927 - accuracy: 0.9980
Epoch 62/100
47/47 - 0s - loss: 0.0887 - accuracy: 0.9980
Epoch 63/100
47/47 - 0s - loss: 0.0841 - accuracy: 0.9987
Epoch 64/100
47/47 - 0s - loss: 0.0804 - accuracy: 0.9980
Epoch 65/100
47/47 - 0s - loss: 0.0770 - accuracy: 0.9980
Epoch 66/100
47/47 - 0s - loss: 0.0732 - accuracy: 0.9980
Epoch 67/100
47/47 - 0s - loss: 0.0700 - accuracy: 1.0000
Epoch 68/100
47/47 - 0s - loss: 0.0668 - accuracy: 0.9980
Epoch 69/100
47/47 - 0s - loss: 0.0640 - accuracy: 1.0000
Epoch 70/100
47/47 - 0s - loss: 0.0610 - accuracy: 0.9987
Epoch 71/100
47/47 - 0s - loss: 0.0584 - accuracy: 1.0000
Epoch 72/100
47/47 - 0s - loss: 0.0557 - accuracy: 0.9987
Epoch 73/100
47/47 - 0s - loss: 0.0535 - accuracy: 1.0000
Epoch 74/100
47/47 - 0s - loss: 0.0513 - accuracy: 0.9993
Epoch 75/100
47/47 - 0s - loss: 0.0487 - accuracy: 1.0000
Epoch 76/100
47/47 - 0s - loss: 0.0466 - accuracy: 0.9993
Epoch 77/100
47/47 - 0s - loss: 0.0449 - accuracy: 1.0000
Epoch 78/100
47/47 - 0s - loss: 0.0431 - accuracy: 1.0000
Epoch 79/100
47/47 - 0s - loss: 0.0414 - accuracy: 1.0000
Epoch 80/100
47/47 - 0s - loss: 0.0400 - accuracy: 1.0000
Epoch 81/100
47/47 - 0s - loss: 0.0382 - accuracy: 1.0000
Epoch 82/100
47/47 - 0s - loss: 0.0366 - accuracy: 1.0000
Epoch 83/100
47/47 - 0s - loss: 0.0352 - accuracy: 1.0000
Epoch 84/100
47/47 - 0s - loss: 0.0338 - accuracy: 1.0000
Epoch 85/100
47/47 - 0s - loss: 0.0324 - accuracy: 1.0000
Epoch 86/100
47/47 - 0s - loss: 0.0313 - accuracy: 1.0000
Epoch 87/100
47/47 - 0s - loss: 0.0300 - accuracy: 1.0000
Epoch 88/100
47/47 - 0s - loss: 0.0289 - accuracy: 1.0000
Epoch 89/100
47/47 - 0s - loss: 0.0277 - accuracy: 1.0000
Epoch 90/100
47/47 - 0s - loss: 0.0268 - accuracy: 1.0000
Epoch 91/100
47/47 - 0s - loss: 0.0258 - accuracy: 1.0000
Epoch 92/100
47/47 - 0s - loss: 0.0248 - accuracy: 1.0000
Epoch 93/100
47/47 - 0s - loss: 0.0238 - accuracy: 1.0000
Epoch 94/100
47/47 - 0s - loss: 0.0231 - accuracy: 1.0000
Epoch 95/100
47/47 - 0s - loss: 0.0222 - accuracy: 1.0000
Epoch 96/100
47/47 - 0s - loss: 0.0215 - accuracy: 1.0000
Epoch 97/100
47/47 - 0s - loss: 0.0206 - accuracy: 1.0000
Epoch 98/100
47/47 - 0s - loss: 0.0198 - accuracy: 1.0000
Epoch 99/100
47/47 - 0s - loss: 0.0192 - accuracy: 1.0000
Epoch 100/100
47/47 - 0s - loss: 0.0184 - accuracy: 1.0000

In [18]:
# Evaluate the model using the testing data
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

16/16 - 0s - loss: 5.2860 - accuracy: 0.1560
Loss: 5.2860212326049805, Accuracy: 0.15600000321865082

In [22]:
deep_model = Sequential()
deep_model.add(Dense(units=167, activation='relu', input_dim=167))
deep_model.add(Dense(units=334, activation='relu'))
deep_model.add(Dense(units=20, activation='softmax'))

In [23]:
deep_model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 167)               28056
_________________________________________________________________
dense_6 (Dense)              (None, 334)               56112
_________________________________________________________________
dense_7 (Dense)              (None, 20)                6700
=================================================================
Total params: 90,868
Trainable params: 90,868
Non-trainable params: 0
_________________________________________________________________

In [24]:
deep_model.compile(optimizer='adam',
                   loss='categorical_crossentropy',
                   metrics=['accuracy'])

deep_model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
47/47 - 0s - loss: 2.5209 - accuracy: 0.1815
Epoch 2/100
47/47 - 0s - loss: 2.2735 - accuracy: 0.2655
Epoch 3/100
47/47 - 0s - loss: 2.1306 - accuracy: 0.3062
Epoch 4/100
47/47 - 0s - loss: 1.9524 - accuracy: 0.3636
Epoch 5/100
47/47 - 0s - loss: 1.7973 - accuracy: 0.4123
Epoch 6/100
47/47 - 0s - loss: 1.6123 - accuracy: 0.4730
Epoch 7/100
47/47 - 0s - loss: 1.4361 - accuracy: 0.5410
Epoch 8/100
47/47 - 0s - loss: 1.2260 - accuracy: 0.6424
Epoch 9/100
47/47 - 0s - loss: 1.0496 - accuracy: 0.6991
Epoch 10/100
47/47 - 0s - loss: 0.8872 - accuracy: 0.7485
Epoch 11/100
47/47 - 0s - loss: 0.7199 - accuracy: 0.8165
Epoch 12/100
47/47 - 0s - loss: 0.5697 - accuracy: 0.8806
Epoch 13/100
47/47 - 0s - loss: 0.4289 - accuracy: 0.9326
Epoch 14/100
47/47 - 0s - loss: 0.3341 - accuracy: 0.9493
Epoch 15/100
47/47 - 0s - loss: 0.2562 - accuracy: 0.9746
Epoch 16/100
47/47 - 0s - loss: 0.1876 - accuracy: 0.9893
Epoch 17/100
47/47 - 0s - loss: 0.1438 - accuracy: 0.9940
Epoch 18/100
47/47 - 0s - loss: 0.1094 - accuracy: 0.9973
Epoch 19/100
47/47 - 0s - loss: 0.0887 - accuracy: 0.9953
Epoch 20/100
47/47 - 0s - loss: 0.0708 - accuracy: 0.9987
Epoch 21/100
47/47 - 0s - loss: 0.0580 - accuracy: 0.9993
Epoch 22/100
47/47 - 0s - loss: 0.0489 - accuracy: 0.9987
Epoch 23/100
47/47 - 0s - loss: 0.0410 - accuracy: 0.9993
Epoch 24/100
47/47 - 0s - loss: 0.0354 - accuracy: 0.9993
Epoch 25/100
47/47 - 0s - loss: 0.0301 - accuracy: 0.9993
Epoch 26/100
47/47 - 0s - loss: 0.0270 - accuracy: 1.0000
Epoch 27/100
47/47 - 0s - loss: 0.0231 - accuracy: 1.0000
Epoch 28/100
47/47 - 0s - loss: 0.0206 - accuracy: 1.0000
Epoch 29/100
47/47 - 0s - loss: 0.0184 - accuracy: 1.0000
Epoch 30/100
47/47 - 0s - loss: 0.0166 - accuracy: 1.0000
Epoch 31/100
47/47 - 0s - loss: 0.0146 - accuracy: 1.0000
Epoch 32/100
47/47 - 0s - loss: 0.0133 - accuracy: 1.0000
Epoch 33/100
47/47 - 0s - loss: 0.0122 - accuracy: 1.0000
Epoch 34/100
47/47 - 0s - loss: 0.0112 - accuracy: 1.0000
Epoch 35/100
47/47 - 0s - loss: 0.0103 - accuracy: 1.0000
Epoch 36/100
47/47 - 0s - loss: 0.0095 - accuracy: 1.0000
Epoch 37/100
47/47 - 0s - loss: 0.0087 - accuracy: 1.0000
Epoch 38/100
47/47 - 0s - loss: 0.0080 - accuracy: 1.0000
Epoch 39/100
47/47 - 0s - loss: 0.0073 - accuracy: 1.0000
Epoch 40/100
47/47 - 0s - loss: 0.0069 - accuracy: 1.0000
Epoch 41/100
47/47 - 0s - loss: 0.0064 - accuracy: 1.0000
Epoch 42/100
47/47 - 0s - loss: 0.0059 - accuracy: 1.0000
Epoch 43/100
47/47 - 0s - loss: 0.0055 - accuracy: 1.0000
Epoch 44/100
47/47 - 0s - loss: 0.0052 - accuracy: 1.0000
Epoch 45/100
47/47 - 0s - loss: 0.0049 - accuracy: 1.0000
Epoch 46/100
47/47 - 0s - loss: 0.0046 - accuracy: 1.0000
Epoch 47/100
47/47 - 0s - loss: 0.0042 - accuracy: 1.0000
Epoch 48/100
47/47 - 0s - loss: 0.0040 - accuracy: 1.0000
Epoch 49/100
47/47 - 0s - loss: 0.0039 - accuracy: 1.0000
Epoch 50/100
47/47 - 0s - loss: 0.0036 - accuracy: 1.0000
Epoch 51/100
47/47 - 0s - loss: 0.0034 - accuracy: 1.0000
Epoch 52/100
47/47 - 0s - loss: 0.0032 - accuracy: 1.0000
Epoch 53/100
47/47 - 0s - loss: 0.0030 - accuracy: 1.0000
Epoch 54/100
47/47 - 0s - loss: 0.0029 - accuracy: 1.0000
Epoch 55/100
47/47 - 0s - loss: 0.0027 - accuracy: 1.0000
Epoch 56/100
47/47 - 0s - loss: 0.0026 - accuracy: 1.0000
Epoch 57/100
47/47 - 0s - loss: 0.0025 - accuracy: 1.0000
Epoch 58/100
47/47 - 0s - loss: 0.0024 - accuracy: 1.0000
Epoch 59/100
47/47 - 0s - loss: 0.0023 - accuracy: 1.0000
Epoch 60/100
47/47 - 0s - loss: 0.0021 - accuracy: 1.0000
Epoch 61/100
47/47 - 0s - loss: 0.0020 - accuracy: 1.0000
Epoch 62/100
47/47 - 0s - loss: 0.0019 - accuracy: 1.0000
Epoch 63/100
47/47 - 0s - loss: 0.0019 - accuracy: 1.0000
Epoch 64/100
47/47 - 0s - loss: 0.0018 - accuracy: 1.0000
Epoch 65/100
47/47 - 0s - loss: 0.0017 - accuracy: 1.0000
Epoch 66/100
47/47 - 0s - loss: 0.0016 - accuracy: 1.0000
Epoch 67/100
47/47 - 0s - loss: 0.0016 - accuracy: 1.0000
Epoch 68/100
47/47 - 0s - loss: 0.0015 - accuracy: 1.0000
Epoch 69/100
47/47 - 0s - loss: 0.0014 - accuracy: 1.0000
Epoch 70/100
47/47 - 0s - loss: 0.0014 - accuracy: 1.0000
Epoch 71/100
47/47 - 0s - loss: 0.0013 - accuracy: 1.0000
Epoch 72/100
47/47 - 0s - loss: 0.0013 - accuracy: 1.0000
Epoch 73/100
47/47 - 0s - loss: 0.0012 - accuracy: 1.0000
Epoch 74/100
47/47 - 0s - loss: 0.0012 - accuracy: 1.0000
Epoch 75/100
47/47 - 0s - loss: 0.0011 - accuracy: 1.0000
Epoch 76/100
47/47 - 0s - loss: 0.0011 - accuracy: 1.0000
Epoch 77/100
47/47 - 0s - loss: 0.0010 - accuracy: 1.0000
Epoch 78/100
47/47 - 0s - loss: 9.8779e-04 - accuracy: 1.0000
Epoch 79/100
47/47 - 0s - loss: 9.6492e-04 - accuracy: 1.0000
Epoch 80/100
47/47 - 0s - loss: 9.1588e-04 - accuracy: 1.0000
Epoch 81/100
47/47 - 0s - loss: 8.8418e-04 - accuracy: 1.0000
Epoch 82/100
47/47 - 0s - loss: 8.4265e-04 - accuracy: 1.0000
Epoch 83/100
47/47 - 0s - loss: 8.1134e-04 - accuracy: 1.0000
Epoch 84/100
47/47 - 0s - loss: 7.8814e-04 - accuracy: 1.0000
Epoch 85/100
47/47 - 0s - loss: 7.5991e-04 - accuracy: 1.0000
Epoch 86/100
47/47 - 0s - loss: 7.2810e-04 - accuracy: 1.0000
Epoch 87/100
47/47 - 0s - loss: 7.0501e-04 - accuracy: 1.0000
Epoch 88/100
47/47 - 0s - loss: 6.7499e-04 - accuracy: 1.0000
Epoch 89/100
47/47 - 0s - loss: 6.6298e-04 - accuracy: 1.0000
Epoch 90/100
47/47 - 0s - loss: 6.2838e-04 - accuracy: 1.0000
Epoch 91/100
47/47 - 0s - loss: 6.0364e-04 - accuracy: 1.0000
Epoch 92/100
47/47 - 0s - loss: 5.8516e-04 - accuracy: 1.0000
Epoch 93/100
47/47 - 0s - loss: 5.6680e-04 - accuracy: 1.0000
Epoch 94/100
47/47 - 0s - loss: 5.4649e-04 - accuracy: 1.0000
Epoch 95/100
47/47 - 0s - loss: 5.2584e-04 - accuracy: 1.0000
Epoch 96/100
47/47 - 0s - loss: 5.0863e-04 - accuracy: 1.0000
Epoch 97/100
47/47 - 0s - loss: 4.8953e-04 - accuracy: 1.0000
Epoch 98/100
47/47 - 0s - loss: 4.7721e-04 - accuracy: 1.0000
Epoch 99/100
47/47 - 0s - loss: 4.5820e-04 - accuracy: 1.0000
Epoch 100/100
47/47 - 0s - loss: 4.4434e-04 - accuracy: 1.0000

In [25]:
# Deep Learning
model_loss, model_accuracy = deep_model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(f"Deep Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

16/16 - 0s - loss: 8.3454 - accuracy: 0.1540
Deep Neural Network - Loss: 8.345425605773926, Accuracy: 0.15399999916553497